.LogInFormContainer {
    align-items: center;
    color: #F4E697;
    display: flex;
    flex-direction: column;
    font-family: 'Permanent Marker', cursive;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    height: 170px;
    justify-content: space-evenly;
    margin: auto;
    width: 35%;
}

input {
    border-radius: 15px;
    font-size: 20px;
    height: 50px;
    padding: 5px;
}

.loginUser {
    border-radius: 15px;
    color: #F4E697;
    font-size: 40px;
}

.loginUser:hover, #signup-link:hover {
    border-radius: 15px;
    border: 2px solid #cc7b3a;
}



