.CardContainer {
  background-color: #384150;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
}

#error {
  color: red;
  text-align: center;
  height: 25px;
  font-size: 15px;
}

.favorite:hover {
  border: 2px solid #cc7b3a;
  border-radius: 15px;
}
