.Card {
  align-items: center;
  background-color: #F4E697;
  border-radius: 15px;
  border: 4px solid #544061;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-evenly;
  margin-bottom: 10px;
  opacity: .8;
  width: 300px;
}

.favoriteCard {
  align-items: center;
  background-color: #F4E697;
  border-radius: 15px;
  border: 4px solid #B54036;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-evenly;
  margin-bottom: 10px;
  opacity: .8;
  width: 300px;
}

img {
    height: 150px;
    object-fit: cover;
    width: 150px;
}

h3 {
  align-self: auto;
  padding: 10px;
  text-align: center;
}

button {
  background-color: transparent;
  background-position: center;
  border: none;
}

.favorite {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#isFavorite, #notFavorite {
  height: auto;
  width: 15%;
}

#isFavorite:hover, #notFavorite:hover, #standardCard:hover {
  border: 2px solid #CC7B3A;
}