* {
  box-sizing: border-box;
  font-family: "Permanent Marker", cursive;
  margin: 0;
  padding: 0;
}

header {
  background-color: #596743;
  color: #f4e697;
  font-size: 3em;
  height: 225px;
  width: 100%;
}

#headphones {
  margin-left: 10px;
}

a {
  color: #f4e697;
  text-decoration: none;
}

img {
  height: 45px;
  width: 5%;
}

.headerContents {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
}

#existingUser-button,
#logoutUser-button,
#newUser-button,
#viewFavorites-button {
  background-color: transparent;
  background-position: center;
  border: none;
  color: #f4e697;
  font-size: 20px;
  margin-right: 30px;
}

#existingUser,
#logoutUser,
#newUser,
#viewFavorites {
  height: auto;
  margin-right: 8px;
  width: 3%;
}

#existingUser-button:hover,
#header-text:hover 
#logoutUser-button:hover,
#newUser-button:hover,
#viewFavorites-button:hover {
  border: 2px solid #cc7b3a;
  border-radius: 15px;
}

body {
  background-color: #384150;
}

