* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Permanent Marker', cursive;
}

header {
  height: 175px;
  width: 100%;
  font-size: 3em;
  background-color: #596743;
  color: #F4E697;
}

img {
  height: 45px;
  width: 5%;
  margin-left: 10px;
}

.headerContents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
text-align: center;
}

#newUser-button, #existingUser-button {
  font-size: 20px;
  color: #F4E697;
  background-color: transparent;
  background-position: center;
  border: none;
  margin-right: 30px;
}

#newUser, #existingUser {
  height: auto;
  width: 3%;
  margin-right: 8px;
}

body {
  background-color: #384150
}


